@model List<Real_estate_business.Models.Staff>
@using Real_estate_business.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StaffDetail</title>
</head>
<body>
    <div> 
        <h1>Staff Details</h1>
        <table>
            <tr>
                <td>Staff No</td>
                <td>First name</td>
                <td>Last name</td>
                <td>Position</td>
                <td>DOB</td>
                <td>Salary</td>
                <td>BranchNo</td>

            </tr>

            @foreach (Staff staff in Model)
            {
                <tr>
                    <td>@staff.StaffNo</td>
                    <td>@staff.Fname</td>
                    <td>@staff.Lname</td>
                    <td>@staff.Position</td>
                    <td>@staff.DOB</td>
                    <td>@staff.Salary</td>
                    <td>@staff.Branch_BranchNoRef</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
